//breakpoints//
$breakpoint-mobile: 768px;

//colros//

$white:#ffffff;
$milk-white:#f1f1f1;
$box-shadow-white:#e5e5e5;
$box-shadow-dark:#36363657;
$black:#000000;
$grayish:#c0c0c0;
$light-gray:#8d8d8d;
$mustard: #d8a016;
$dark-navy-blue:#1f1e2e;